// Theme Colors
// Must be hard-coded for Material mixins
@use './node_modules/@astrouxds/design-tokens/dist/scss/colors-global' as tokens;
@use './node_modules/@astrouxds/design-tokens/dist/scss/colors-light' as light;
@use './node_modules/@astrouxds/design-tokens/dist/scss/variables' as typ-tokens;



$background-color: tokens.$color-global-quaternary-200; // --backgroundColor
$default-text: tokens.$color-global-quaternary-900; // --defaultText
$secondary-text: tokens.$color-global-quaternary-800; // --secondaryText
$global-app-header: tokens.$color-global-tertiary-700; // --globalAppHeader
$surface-elements: tokens.$color-global-basics-white; // --surfaceElements
$primary: tokens.$color-global-primary-500; // --primary
$primary-light: tokens.$color-global-primary-400; // --primaryLight
$primary-dark: tokens.$color-global-primary-600; // --primaryDark
$primary-dark-hover: rgba(light.$color-hover, 0.302); // --primaryDarkHover 
$primary-element-text: tokens.$color-global-basics-white; // --primaryElementText
$input-background: tokens.$color-global-basics-white; // --inputBackground
$input-dark: tokens.$color-global-tertiary-900; // --inputDark
$critical-border: #661102; // --criticalBorder //! $color-global-status-critical-900 - is in figma, not in tokens
$color-critical: tokens.$color-global-status-critical-600; // --colorCritical
$color-serious: tokens.$color-global-status-serious-600; // --colorSerious 
$color-caution: tokens.$color-global-status-caution-600; // --colorCaution
$color-normal: tokens.$color-global-status-normal-600; // --colorNormal
$color-standby: tokens.$color-global-status-standby-600; // --colorStandby
$color-off: tokens.$color-global-status-off-600; // --colorOff
$list-selected: tokens.$color-global-snowflakes-dark-selected; // -- Given by Daniel for List/Drawer selected background
$dark-theme-primary: tokens.$color-global-secondary-500; // Dark Theme --primary
$dark-theme-primary-light: tokens.$color-global-secondary-300; // Dark Theme --primaryLight
$color-table-hover: rgba(light.$color-table-hover, 0.3);  
$wcag-compliance: rgba(0, 0, 0, 0.5); // --wcagCompliance
$table-header-background: $global-app-header;
$table-row-hover-background: rgba($primary-dark, 0.2);
$table-row-selected-background: $primary;
$slider-track-background: $secondary-text;
$slider-thumb-background: $primary-dark;
$slider-thumb-border: $input-background;
$global-app-header-icon: $dark-theme-primary;

// These colors are used later with a $mdc-theme-* tag in front
@use "@material/theme" with (
  $primary: $primary,
  $secondary: $primary-dark,
  $on-primary: $primary-element-text,
  $on-secondary: $default-text,
  $background: $background-color,
  $error: $color-critical,
  $on-error: $primary-element-text,
  $surface: $surface-elements,
  $on-surface: $default-text,
);

// Typography styles
@use "@material/typography" with (
  $font-family: unquote("Roboto, sans-serif"),
  $styles-headline1: (
    font-size: typ-tokens.$font-size-4xl,
    letter-spacing: 0.25px,
    font-weight: typ-tokens.$font-weight-regular,
  ),
  $styles-headline2: (
    font-size: typ-tokens.$font-size-2xl,
    font-weight: typ-tokens.$font-weight-regular,
    letter-spacing: 0,
  ),
  $styles-headline3: (
    font-size: typ-tokens.$font-size-xl,
    font-weight: typ-tokens.$font-weight-medium,
    letter-spacing: 0.15px,
  ),
  $styles-headline4: (
    font-size: typ-tokens.$font-size-xl,
    font-weight: typ-tokens.$font-weight-light,
    letter-spacing: 0.15px,
  ),
  $styles-headline5: (
    font-size: typ-tokens.$font-size-lg,
    font-weight: typ-tokens.$font-weight-regular,
    letter-spacing: 0,
  ),
  $styles-headline6: (
    font-size: typ-tokens.$font-size-lg,
    font-weight: typ-tokens.$font-weight-light,
    letter-spacing: 0,
  ),
  $styles-subtitle1: (
    font-size: typ-tokens.$font-size-base,
    letter-spacing: 0.5px,
    font-weight: typ-tokens.$font-weight-regular,
  ),
  $styles-subtitle2: (
    font-size: typ-tokens.$font-size-sm,
    font-weight: typ-tokens.$font-weight-regular,
    letter-spacing: 0.5px,
  ),
  $styles-body1: (
    font-size: typ-tokens.$font-size-base,
    letter-spacing: 0.5px,
    font-weight: typ-tokens.$font-weight-regular,
  ),
  $styles-body2: (
    font-size: typ-tokens.$font-size-sm,
    font-weight: typ-tokens.$font-weight-regular,
    letter-spacing: 0.5px,
  ),
  $styles-button: (
    text-transform: none,
    font-size: typ-tokens.$font-size-base,
    letter-spacing: 0.5px,
    white-space: nowrap,
    text-overflow: ellipsis,
    font-weight: typ-tokens.$font-weight-regular,
  ),
  $styles-caption: (
    letter-spacing: 0,
  ),
  $styles-overline: (
    font-size: typ-tokens.$font-size-xs,
    font-weight: typ-tokens.$font-weight-regular,
    letter-spacing: 0,
  )
);

// Material Shape
@use "@material/shape" with (
  $small-component-radius: typ-tokens.$radius-base,
  $medium-component-radius: typ-tokens.$radius-base,
  $large-component-radius: typ-tokens.$radius-base
);
