/* Build a Material theme */
// To begin customizing your theme, modify these variables. By default each theme starts off with our baseline values, so you can easily swap them out.
@use "sass:map";

@use "@material/theme" with (
  $primary: #4dacff,
  $secondary: #4dacff,
  $on-primary: #000000,
  $on-secondary: #ffffff,
  $background: #101923,
  $error: rgb(255, 56, 56),
  $on-error: #ffffff,
  $surface: #1b2d3e,
  $on-surface: #ffffff,
);

$headline-typography: (
  font-weight: 300,
  margin: 0 0 0.5rem,
);

@use "@material/typography" with (
  $font-family: unquote("Roboto, sans-serif"),
  $styles-headline1: map.merge($headline-typography, (font-size: 2.375rem)),
  $styles-headline2: map.merge($headline-typography, (font-size: 1.75rem)),
  $styles-headline3: map.merge($headline-typography, (font-size: 1.375rem)),
  $styles-body1: (margin: 0 0 1rem),
  $styles-button: (
    text-transform: none,
    font-size: 1rem,
    white-space: nowrap,
    text-overflow: ellipsis,
  ),
);
