// Material Theming
// After importing all MDC Web components, apply mixins to theme individual components

.mdc-button {
  // @include mdc-button-shape-radius(50%);
  @include mdc-button-outline-color($mdc-theme-primary);
  @include mdc-button-horizontal-padding(1rem);
}

// Checkbox and radio

.mdc-checkbox {
  // Enabled container colors
  @include mdc-checkbox-container-colors(
    $unmarked-stroke-color: $mdc-theme-primary,
    $marked-fill-color: $mdc-theme-background,
    $marked-stroke-color: $mdc-theme-primary
  );

  // Disabled container colors
  @include mdc-checkbox-disabled-container-colors(
    $unmarked-stroke-color: rgba($mdc-theme-primary, 0.4),
    $marked-fill-color: rgba($mdc-theme-background, 0.4),
    $marked-stroke-color: rgba($mdc-theme-primary, 0.4)
  );

  @include mdc-checkbox-ink-color($mdc-theme-primary);
  @include mdc-checkbox-disabled-ink-color(rgba($mdc-theme-primary, 0.4));
}

.mdc-radio {
  margin-right: 4px;

  // Enabled Colors
  @include mdc-radio-unchecked-stroke-color($mdc-theme-primary);
  @include mdc-radio-checked-stroke-color($mdc-theme-primary);
  @include mdc-radio-ink-color($mdc-theme-primary);

  // Disabled Colors
  @include mdc-radio-disabled-unchecked-stroke-color(
    rgba($mdc-theme-primary, 0.4)
  );
  @include mdc-radio-disabled-checked-stroke-color(
    rgba($mdc-theme-primary, 0.4)
  );
  @include mdc-radio-disabled-ink-color(rgba($mdc-theme-primary, 0.4));
}

// Switch

.mdc-switch {
  @include mdc-rtl-reflexive-box(margin, right, 20px);
  @include mdc-switch-toggled-on-thumb-color($mdc-theme-surface);
  @include mdc-switch-toggled-on-track-color($mdc-theme-primary);
  @include mdc-switch-toggled-off-track-color($mdc-theme-surface);
}

// Top app bar

.component-wrapper .mdc-top-app-bar {
  @include mdc-elevation(4);
  position: relative;
  z-index: 1;

  &:not(.mdc-top-app-bar--short) {
    width: 100%;
  }
}

// Card

.mdc-card {
  width: 100%;
  color: $mdc-theme-on-surface;

  .demo-card__primary {
    padding: 1rem;
  }

  .demo-card__title,
  .demo-card__subtitle {
    margin: 0;
  }

  .demo-card__secondary {
    padding: 0 1rem 8px;
    opacity: 0.87;
  }
}

// Linear progress

.mdc-linear-progress {
  width: 100%;
}

// Menu

.mdc-menu-surface--anchor > .mdc-menu {
  position: relative;
  z-index: 1;
}

// Select

.mdc-select--filled {
  width: 160px;

  $select-filled-text-colors: (
    default: #000,
    disabled: rgba(0, 0, 0, 0.4),
    hover: #000,
    focus: #000,
  );

  @include mdc-select-label-color($select-filled-text-colors);
  @include mdc-select-label-floating-color($select-filled-text-colors);
  @include mdc-select-ink-color($select-filled-text-colors);
  @include mdc-select-dropdown-icon-color($select-filled-text-colors);
  @include mdc-select-container-fill-color(
    (
      default: $mdc-theme-primary,
      disabled: rgba($mdc-theme-primary, 0.4),
    )
  );
}

.mdc-select--outlined {
  width: 160px;

  $select-outline-text-colors: (
    default: $mdc-theme-primary,
    disabled: rgba($mdc-theme-primary, 0.4),
  );

  @include mdc-select-ink-color($select-outline-text-colors);
  @include mdc-select-label-color($select-outline-text-colors);
  @include mdc-select-label-floating-color($select-outline-text-colors);
  @include mdc-select-dropdown-icon-color($select-outline-text-colors);
  @include mdc-select-outline-color($select-outline-text-colors);
}

// Drawer

.drawer-component-wrapper {
  background: rgba(0, 0, 0, 0.3);

  .mdc-drawer {
    @include mdc-elevation(16);

    .mdc-drawer__content {
      padding: 0;
    }
  }
}

// Text field

.mdc-text-field {
  width: 100%;
}

.mdc-text-field--filled {
  // @include mdc-text-field-ink-color($mdc-theme-primary);
  // @include mdc-text-field-placeholder-color($mdc-theme-primary);
  // @include mdc-text-field-label-color($mdc-theme-primary);
}

.mdc-text-field--outlined {
  @include mdc-text-field-ink-color($mdc-theme-primary);
  @include mdc-text-field-placeholder-color(rgba($mdc-theme-primary, 0.4));
  @include mdc-text-field-label-color($mdc-theme-primary);
  @include mdc-text-field-outline-color($mdc-theme-primary);

  // Disabled colors
  @include mdc-text-field-disabled-outline-color(rgba($mdc-theme-primary, 0.4));
  @include mdc-text-field-disabled-ink-color(rgba($mdc-theme-primary, 0.4));
  @include mdc-text-field-disabled-label-color(rgba($mdc-theme-primary, 0.4));
}

// Helper Text
.mdc-text-field:not(.mdc-text-field--disabled) + .mdc-text-field-helper-line {
  .mdc-text-field-helper-text {
    color: var(--defaultText);
  }
}

.mdc-text-field--disabled + .mdc-text-field-helper-line {
  .mdc-text-field-helper-text {
    color: var(--secondaryText);
  }
}

// Data Table

.mdc-data-table {
  @include mdc-data-table-sort-icon-color($mdc-theme-surface);
  @include mdc-data-table-sort-icon-active-color($mdc-theme-surface);
  //  Table Rows fill color
  @include mdc-data-table-fill-color($mdc-theme-background);
  @include mdc-data-table-header-row-fill-color(
    var(--tableHeaderBackgroundColor)
  );
  @include mdc-data-table-row-fill-color(var(--tableRowBackgroundColor));
  @include mdc-data-table-selected-row-fill-color(
    var(--tableRowSelectedBackgroundColor)
  );
  @include mdc-data-table-divider-color(var(--tableRowBorderColor));
  @include mdc-data-table-divider-size(2px);
  @include mdc-data-table-row-hover-fill-color(
    var(--tableRowHoverBackgroundColor)
  );
  @include mdc-data-table-header-row-text-color(var(--tableHeaderTextColor));
  @include mdc-data-table-row-text-color(var(--tableRowTextColor));
}

// Tabs
.component-wrapper .mdc-tab-bar {
  background: $mdc-theme-background;

  .mdc-tab {
    font-family: Roboto;
    @include mdc-tab-active-text-label-color($mdc-theme-on-secondary);
    @include mdc-tab-states-color($mdc-theme-background);
    @include mdc-tab-text-label-color($mdc-theme-primary);

    .mdc-tab-indicator--active {
      @include mdc-tab-ink-color($mdc-theme-primary);
    }

    .mdc-tab-indicator {
      @include mdc-tab-indicator-underline-color($mdc-theme-primary);
    }
  }

  .mdc-tab-indicator {
    @include mdc-tab-indicator-underline-color($mdc-theme-primary);
  }
}

// Snackbar

.mdc-snackbar {
  position: relative;
  margin: 0;
  justify-content: start;
  z-index: 1;
}

// Dialog

.mdc-dialog {
  position: relative;
  justify-content: start;
  z-index: 1;

  .mdc-dialog__surface {
    max-width: 100%;
  }
}

// List

.component-wrapper > .mdc-list {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: $mdc-theme-background;

  .mdc-list-item__graphic {
    background-color: if(
      mdc-theme-contrast-tone($mdc-theme-background) == "dark",
      rgba(0, 0, 0, 0.12),
      rgba(255, 255, 255, 0.12)
    );
    color: if(
      mdc-theme-contrast-tone($mdc-theme-background) == "dark",
      rgba(0, 0, 0, 0.68),
      rgba(255, 255, 255, 0.68)
    );
  }
}

// Image list

.mdc-image-list {
  @include mdc-image-list-masonry-columns(2);

  max-width: 400px;
  max-height: 600px;
  margin: 0;
}

.component-wrapper {
  &.button-component-wrapper,
  &.fab-component-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // Offset built-in padding to left-align all components

  &.chips-component-wrapper {
    @include mdc-rtl-reflexive-box(margin, left, -8px);
  }

  &.checkbox-component-wrapper,
  &.radio-component-wrapper {
    @include mdc-rtl-reflexive-box(margin, left, -10px);
  }

  &.icon-button-component-wrapper {
    @include mdc-rtl-reflexive-box(margin, left, -12px);
  }
}
