// Theme Colors
// Must be hard-coded for Material mixins
@use './node_modules/@astrouxds/design-tokens/dist/scss/colors-global' as tokens;
@use './node_modules/@astrouxds/design-tokens/dist/scss/colors-dark' as dark;
@use './node_modules/@astrouxds/design-tokens/dist/scss/variables' as typ-tokens;

$primary-light: tokens.$color-global-secondary-300; // --primaryLight
$primary-light-hover: rgba(dark.$color-hover, 0.302); // --primaryLightHover
$global-app-header: tokens.$color-global-tertiary-700; // --globalAppHeader
$input-background: tokens.$color-global-basics-white; // --inputBackground
$secondary-text: tokens.$color-global-tertiary-100; // --secondaryText
$primary-dark: tokens.$color-global-secondary-600; // --primaryDark
$list-selected: tokens.$color-global-snowflakes-dark-selected; // -- Given by Daniel for List/Drawer selected background
$table-header-background: $global-app-header;
$table-row-hover-background: $primary-light-hover;
$slider-track-background: $secondary-text;
$slider-thumb-background: $primary-dark;
$slider-thumb-border: $input-background;


// These colors are used later with a $mdc-theme-* tag in front
@use "@material/theme" with (
  $primary: tokens.$color-global-secondary-500, // --primary
  $secondary: tokens.$color-global-secondary-500, // --primary
  $on-primary: tokens.$color-global-tertiary-900, // --primaryElementText
  $on-secondary: $input-background, // --defaultText
  $background: tokens.$color-global-tertiary-800, // --backgroundColor
  $error: tokens.$color-global-status-critical-500, // --colorCritical
  $on-error: $input-background, // --defaultText
  $surface: tokens.$color-global-snowflakes-dark-surface, // --surfaceElements
  $on-surface: $input-background, // --defaultText
);

// Typography styles

@use "@material/typography" with (
  $font-family: unquote("Roboto, sans-serif"),
  $styles-headline1: (
    font-size: typ-tokens.$font-size-4xl,
    letter-spacing: 0.25px, //! No valid token
    font-weight: typ-tokens.$font-weight-regular, //This was normal, which equates to 400 
  ),
  $styles-headline2: (
    font-size: typ-tokens.$font-size-2xl,
    font-weight: typ-tokens.$font-weight-regular,
    letter-spacing: typ-tokens.$letter-spacing-base,
  ),
  $styles-headline3: (
    font-size: typ-tokens.$font-size-xl,
    font-weight: typ-tokens.$font-weight-medium,
    letter-spacing: 0.15px, //! No exact token
  ),
  $styles-headline4: (
    font-size: typ-tokens.$font-size-xl,
    font-weight: typ-tokens.$font-weight-light,
    letter-spacing: 0.15px, //! No exact token
  ),
  $styles-headline5: (
    font-size: typ-tokens.$font-size-lg,
    font-weight: typ-tokens.$font-weight-regular,
    letter-spacing: 0, //! No letter spacing token that is 0 - there are paragraph spacing ones
  ),
  $styles-headline6: (
    font-size: typ-tokens.$font-size-lg,
    font-weight: typ-tokens.$font-weight-light,
    letter-spacing: 0,
  ),
  $styles-subtitle1: (
    font-size: typ-tokens.$font-size-base,
    letter-spacing: 0.5px, //! No exact token - 0.031em
    font-weight: typ-tokens.$font-weight-regular,
  ),
  $styles-subtitle2: (
    font-size: typ-tokens.$font-size-sm,
    font-weight: typ-tokens.$font-weight-regular,
    letter-spacing: 0.5px,
  ),
  $styles-body1: (
    font-size: typ-tokens.$font-size-base,
    letter-spacing: 0.5px,
    font-weight: typ-tokens.$font-weight-regular,
  ),
  $styles-body2: (
    font-size: typ-tokens.$font-size-sm,
    font-weight: typ-tokens.$font-weight-regular,
    letter-spacing: 0.5px,
  ),
  $styles-button: (
    text-transform: none,
    font-size: typ-tokens.$font-size-base,
    letter-spacing: 0.5px,
    white-space: nowrap,
    text-overflow: ellipsis,
    font-weight: typ-tokens.$font-weight-regular, //this was 400 - normal should be 400 also
  ),
  $styles-caption: (
    letter-spacing: 0,
  ),
  $styles-overline: (
    font-size: typ-tokens.$font-size-xs,
    font-weight: typ-tokens.$font-weight-regular,
    letter-spacing: 0,
  )
);

// Material Shape
@use "@material/shape" with (
  $small-component-radius: typ-tokens.$radius-base,
  $medium-component-radius: typ-tokens.$radius-base,
  $large-component-radius: typ-tokens.$radius-base
);
