// Theme Colors
// Must be hard-coded for Material mixins
@use '../node_modules/@astrouxds/design-tokens/dist/scss/colors-global' as tokens;
@use '../node_modules/@astrouxds/design-tokens/dist/scss/colors-dark' as dark;

$primary-light: tokens.$color-global-secondary-300; // --primaryLight
$primary-light-hover: rgba(dark.$color-hover, 0.302); // --primaryLightHover
$global-app-header: tokens.$color-global-tertiary-700; // --globalAppHeader
$input-background: tokens.$color-global-basics-white; // --inputBackground
$secondary-text: tokens.$color-global-tertiary-100; // --secondaryText
$primary-dark: tokens.$color-global-secondary-600; // --primaryDark
$list-selected: tokens.$color-global-snowflakes-dark-selected; // -- Given by Daniel for List/Drawer selected background
$table-header-background: $global-app-header;
$table-row-hover-background: $primary-light-hover;
$slider-track-background: $secondary-text;
$slider-thumb-background: $primary-dark;
$slider-thumb-border: $input-background;

// These colors are used later with a $mdc-theme-* tag in front
@use "@material/theme" with (
  $primary: tokens.$color-global-secondary-500, // --primary
  $secondary: tokens.$color-global-secondary-500, // --primary
  $on-primary: tokens.$color-global-tertiary-900, // --primaryElementText
  $on-secondary: $input-background, // --defaultText
  $background: tokens.$color-global-tertiary-800, // --backgroundColor
  $error: tokens.$color-global-status-critical-500, // --colorCritical
  $on-error: $input-background, // --defaultText
  $surface: tokens.$color-global-snowflakes-dark-surface, // --surfaceElements
  $on-surface: $input-background, // --defaultText
);

// Typography styles
@use "@material/typography" with (
  $font-family: unquote("Roboto, sans-serif"),
  $styles-headline1: (
    font-size: 2.125rem,
    letter-spacing: 0.25px,
    font-weight: normal,
  ),
  $styles-headline2: (
    font-size: 1.5rem,
    font-weight: normal,
    letter-spacing: 0,
  ),
  $styles-headline3: (
    font-size: 1.25rem,
    font-weight: 500,
    letter-spacing: 0.15px,
  ),
  $styles-headline4: (
    font-size: 1.25rem,
    font-weight: 300,
    letter-spacing: 0.15px,
  ),
  $styles-headline5: (
    font-size: 1.125rem,
    font-weight: normal,
    letter-spacing: 0,
  ),
  $styles-headline6: (
    font-size: 1.125rem,
    font-weight: 300,
    letter-spacing: 0,
  ),
  $styles-subtitle1: (
    font-size: 1rem,
    letter-spacing: 0.5px,
    font-weight: normal,
  ),
  $styles-subtitle2: (
    font-size: 0.875rem,
    font-weight: normal,
    letter-spacing: 0.5px,
  ),
  $styles-body1: (
    font-size: 1rem,
    letter-spacing: 0.5px,
    font-weight: normal,
  ),
  $styles-body2: (
    font-size: 0.875rem,
    font-weight: normal,
    letter-spacing: 0.5px,
  ),
  $styles-button: (
    text-transform: none,
    font-size: 1rem,
    letter-spacing: 0.5px,
    white-space: nowrap,
    text-overflow: ellipsis,
    font-weight: 400,
  ),
  $styles-caption: (
    letter-spacing: 0,
  ),
  $styles-overline: (
    font-size: 0.75rem,
    font-weight: normal,
    letter-spacing: 0,
  )
);

// Material Shape
@use "@material/shape" with (
  $small-component-radius: 3px,
  $medium-component-radius: 3px,
  $large-component-radius: 3px
);
